/*Arghavan Katebi-11/21/2025-IT202:Internet Applications-Section003-Phase 4 Assignment/ak3426@njit.edu*/
body {
   font-family: Georgia, 'Times New Roman';
   font-size: 80%;
   background-color: #feffd4ff;
   color: #516a63;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}

h1, h2, h3, h4 {
   margin: 0px;
   padding: 0px;
}

h1 {
   font-family: Garamond, serif;
   font-size: 160%;
   color: #3ba3ac;
}

h2 {
   font-family: Garamond, serif;
   font-size: 150%;
   color: #3ba3ac;
}

h3 {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-size: 120%;
   color: rgb(255, 239, 234);
}

h4 {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 100%;
   color: #41a1a8;
}

footer {
   font-family: Geneva, Tahoma, sans-serif;
   font-size: 80%;
   background-color: #afe5f4;
   color: rgb(99, 53, 0);
   padding: 5px;
   border-top: 3px solid #e0bb7b;
   border-bottom: 3px solid #e0bb7b;
   clear: both;
   text-align: center;
   width: 100%;
}
main {
   padding: 5px;
   border-top: 3px solid #f0e6d5;
   float: left;
   width: 55%;
   min-height: 500px;
}

main table {
   padding: 2px;
}

main td {
   padding: 2px;
}
header {
   padding: 5px;
   border-bottom: 3px solid #e7c07e;
   height: 40px;
   width: 100%;
}

.navigation {
   padding: 5px;
   border-bottom: 1px solid #e3b693;
   border-right: 1px solid #e3b693;
   border-top: 1px solid #e3b693;
   border-left: 5px solid #e3b693;
   color: rgb(248, 239, 214);
   background-color: #8f6d3c;
   width: 20%;
}

a, a:link {
 color: #846a61;
}

a:active {
 color: #ae3a00;
}

nav a, nav a:link {
 color: #1c618f;
 text-decoration: none;
}

nav a:visited {
 color: #82eced;
}

nav a:hover {
 color: #ab2601;
}

nav a:active {
 color: #2d201a;
}
input {
 border: 2px solid #7c6255;
 background-color: white;
 color: #4a4633;
 border-radius: 5px;
}

input[type=submit] {
 font-family: Verdana, Arial, sans-serif;
 font-size: 80%;
}

input:required:invalid {
 border-color: #872c14;
 background-color: #ebdabf;
}

input:required:valid {
 border-color: #e0cdbd;
 background-color: #f6f0e6;
}

input:focus {
 outline: none;
 border-color: #ca7834;
 background-color: #f2eeea;
 box-shadow: 0 0 5px #f7eee7;
}